@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(25, 148, 10);
  background: linear-gradient(
    90deg,
    rgba(25, 148, 10, 0.9752275910364145) 0%,
    rgba(31, 238, 16, 0.9023984593837535) 50%,
    rgba(25, 148, 10, 1) 100%
  );
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #010228;
}

.title {
  font-size: 3rem;
  margin-top: 10px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}

.col div {
  text-align: center;
  margin: 0;
}

input {
  height: 60px;
  width: 160px;
  margin-left: 30px;
  border-color: transparent;
  background-color: #010228;
  color: white;
  text-align: center;
  font-size: 50px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Poppins", sans-serif;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding-left: 20px;
}

#endtimer {
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #010228;
  padding: 10px;
}
